header {
    background-color: #076aa3;
    color: #000002;
    padding: 15px 20px;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.imagem-perfil {
    text-align:left;
    width: 150px;
    height: 150px;
    border-radius: 50%;
}
.menu{
    display: flex;
    flex-direction: column;
    text-align: right;
}

.logo {
    font-size: 40px;
    font-weight: bold;
}

body {
    background-color: rgb(215, 237, 250);
    margin: 0;
    font-family: Calibri, Arial, Helvetica, sans-serif;
}


footer {
    background-color: #076aa3;
    color: #000002;
    padding: 15px 20px;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1000;

    .image-container {
        text-align: center;
    }
    
    .image-container img {
        max-width: 100%;
        height: auto;
    }    
}



